{% extends 'blogs_base.html.twig' %}

{% block title %}BBC {{ tr('page_title_blogs') }} - {{ blog.getName() }} - {{ tr('page_title_author_all') }}{% endblock %}

{%- block content -%}
    <div class="component">
        <h1>{{ tr('header_author_all') }}</h1>
    </div>
    {{ ds('authorAtoZ', blog) }}
{%- endblock -%}
