{% extends 'blogs_base.html.twig' %}

{% import _self as blogShow %}

{% block title %}BBC {{ tr('page_title_blogs') }} - {{ blog.getName() }}{% endblock %}

{% block content %}
    <h1 class="visually-hidden">{{ blog.getName() }}</h1>
    {% if blog.getFeaturedPost() %}
        <div class="component island br-box-subtle">
            <h2>{{ tr('module_featured_post_header') }}</h2>
            {{ ds('postSummary', blog, blog.getFeaturedPost(), {'h_tag': 3, 'h_class': 'alpha', 'author_options': {'is_slimline': true}}) }}
        </div>
    {% endif %}

    {% if posts is empty %}
        <p class="beta">{{ tr('no_posts') }}</p>
    {% else %}
        {{ blogShow.seeAllBar(blog.getId(), posts[0].getPublishedDate()) }}
        <ul class="list-unstyled list-lined">
            {% for post in posts %}
                <li class="post br-keyline">
                    <a href="{{ path('post', {blogId: blog.getId(), guid: post.getGuid() }) }}">
                        {{ post.getTitle() }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {{ blogShow.seeAllBar(blog.getId(), posts[0].getPublishedDate()) }}
    {% endif %}
{% endblock %}

{% macro seeAllBar(blogId, postDate) %}
    <div>
        <a class="islet br-box-subtle component text--right" data-istats-link-location="blogs_see_all_posts" href="{{ path('posts_year_month', {blogId: blogId, year: postDate.format('Y'), month: postDate.format('m')}) }}">{{ tr ('link_see_all_posts') }}</a>
    </div>
{% endmacro %}

