<!DOCTYPE html>
<html class="{{ branding.getOrbitThemeClasses()|raw }} b-reith-sans-font" lang="{{ tr('language_code') }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BBC {{ tr('page_title_blogs') }}{% endblock %}</title>

    <link rel="icon" href="https://www.bbc.co.uk/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="{{ branding.getColours().highlight.bg|default('#2B2B2B') }}">

    {#- Facebook pages that are allowed to edit FB preview titles and descriptions -#}
    <meta property="fb:pages" content="{{ meta_context.getBBCFacebookPageIds() }}">
    <meta property="og:site_name" content="BBC">

    {#- Twitter-specific tags -#}
    <meta name="twitter:card" content="summary_large_image">

    {#- OpenGraph tags for Facebook/Twitter -#}
    {% block social_tags %}
        <meta property="og:title" content="{{ block('title') }}">
    {% endblock %}

    {% block social_type %}
        <meta property="og:type" content="website">
    {% endblock %}

    {% block social_image_tags %}
        <meta property="og:image" content="{{ fallback_social_image.getUrl(1200,675) }}" />
    {% endblock %}

    {% block social_description %}{% endblock %}

    {{ orb.getHead()|raw }}
    {{ branding.getHead()|raw }}

    <!--[if (gt IE 8)|!(IE)]><!-->
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <!--<![endif]-->
    <!--[if (lt IE 9)&(!IEMobile)]>
    <link rel="stylesheet" href="{{ asset('css/main-ie.css') }}"/>
    <![endif]-->
    {% block inline_head %}{% endblock %}

    <script>document.documentElement.className += ' has-js';</script>
    <script>
        // Check that service workers are registered
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('{{ asset_js('sw.js.js') }}');
            });
        }
    </script>
    <script>
            requirejs.config({
                "paths": {
                    'jquery-1.9': "https://static.bbci.co.uk/frameworks/jquery/0.4.1/sharedmodules/jquery-1.9.1",
                    'blogs-bootstrap': "{{ asset_js('blogs-bootstrap.js') }}",
                    'smp': "{{ asset_js('smp.js') }}",
                    'third-party': "{{ asset_js('third-party.js') }}",
                    'bbc-datepicker': "{{ asset_js('bbc-datepicker.js') }}",
                    'lazyload': "{{ asset_js('lazyload.js') }}",
                    'picturefill': "{{ asset_js('picturefill.js') }}",
                    'bump-3' : '//emp.bbci.co.uk/emp/bump-3/bump-3'
                },
                "priority": ['jquery-1.9'],
                "map": {
                    "*": {
                        "jquery": "jquery-1.9"
                    }
                }
            });

            window.bbcBlogs = {
                "counterName" : "{{ istats_counter_name }}"
            }
    </script>
</head>
<body>
{{ orb.getBodyfirst()|raw }}
{{ branding.getBodyFirst()|raw }}

<div class="{% block page_classes %}text-base b-g-p blogs-page{% endblock %}" id="blogs-content" role="main">
    {% block body %}{% endblock %}
</div>
{{ gelicons_source() }}
<script>
    require(['blogs-bootstrap']);
</script>
{% block javascripts %}{% endblock %}

{% set smps = build_smps() %}
{% if smps %}
    {{ add_script_snippet_in_footer(smps) }}
{% endif %}

{{ build_script_snippets()|raw }}

{# SCHEMA JSON #}
{% set schema = generate_schema_json() %}
{% if schema %}
    <script type="application/ld+json">
        {{- schema|raw -}}
    </script>
{% endif %}

{{ branding.getBodyLast()|raw }}
{{ orb.getBodylast()|raw }}
</body>
</html>
