{% extends 'blogs_base.html.twig' %}

{% import _self as postShow %}

{% block title %}BBC {{ tr('page_title_blogs') }} - {{ blog.getName() }} - {{ post.getTitle() }}{% endblock %}

{% block inline_head %}
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary">

    {# BLOG #}
    {%- if blog.getSocial().getTwitterUsername() -%}
        <meta name="twitter:site" content="{{ blog.getSocial().getTwitterUsername() }}">
    {%- endif -%}
    {%- if blog.getSocial().getGooglePlusUrl() -%}
        <link rel="publisher" href="{{ blog.getSocial().getGooglePlusUrl() }}"/>
    {%- endif -%}

    <meta property="og:site_name" content="{{ blog.getName() }}" />

    {# POST #}
    <meta itemprop="name" content="{{ post.getTitle() }}">
    <meta name="twitter:title" content="{{ post.getTitle() }}">
    <meta property="og:title" content="{{ post.getTitle() }}" />
    <meta property="article:published_time" content="{{ post.getPublishedDate() | date(constant('DATE_W3C')) }}" />
    <meta property="og:url" content="{{ url('post', {blogId: blog.getId(), guid: post.getGuid()}) }}" />

    {%- if post.getShortSynopsis() -%}
        <meta itemprop="description" content="{{ post.getShortSynopsis() }}">
        <meta name="twitter:description" content="{{ post.getShortSynopsis() }}">
        <meta property="og:description" content="{{ post.getShortSynopsis() }}" />
    {%- endif -%}

    {%- if post.getImage() -%}
        <meta itemprop="image" content="{{ post.getImage().getUrl(1200,675) }}">
        <meta property="og:image" content="{{ post.getImage().getUrl(1200,675) }}" />
    {%- endif -%}

    {# AUTHOR SOCIAL #}
    {%- set author = post.getAuthor() -%}
    {%- if author is not empty -%}
        {%- if author.getSocial().getGooglePlusUrl() -%}
            <link rel="author" href="{{ author.getSocial().getGooglePlusUrl() }}"/>
        {%- endif -%}
        {%- if author.getSocial().getFacebookUrl() -%}
            <meta property="article:author" content="{{ author.getSocial().getFacebookUrl() }}" />
        {%- endif -%}
        {%- if author.getSocial().getTwitterUsername() -%}
            <meta name="twitter:creator" content="{{ author.getSocial().getTwitterUsername() }}">
        {%- endif -%}
    {%- endif -%}
{% endblock %}

{%- block content -%}
    <div class="islet br-box-subtle component text--right">
        <ul class="list-unstyled list--piped">
            {#no spaces in here#}
            {%- if prevPost is not empty -%}
                <li class="br-keyline">{#--#}
                    <a class="istats--tracker" data-istats-link-location="blogs_post_top_previous"
                       href="{{ path('post', {blogId: blog.getId(), guid: prevPost.getGuid() }) }}">
                        {{ tr('link_previous') }}{#--#}
                    </a>{#--#}
                </li>{#--#}
            {%- endif -%}
            <li class="br-keyline">{#--#}
                <a class="istats--tracker" data-istats-link-location="blogs_top_home"
                   href="{{ path('blog', {blogId: blog.getId()}) }}">{{ tr('link_home') }}</a>{#--#}
            </li>{#--#}
            {%- if nextPost is not empty -%}
                <li class="br-keyline">{#--#}
                    <a class="istats--tracker" data-istats-link-location="blogs_post_top_next"
                       href="{{ path('post', {blogId: blog.getId(), guid: nextPost.getGuid() }) }}">{#--#}
                        {{ tr('link_next') }}{#--#}
                    </a>{#--#}
                </li>{#--#}
            {%- endif -%}
        </ul>
    </div>

    <div class="component component--lined br-keyline">
        <article itemprop="blogPost">
            <div class="component component--lined br-keyline">
                <h1 itemprop="name">{{ post.getTitle() }}</h1>
            </div>
        </article>

        // POST //
    </div>

    {%- if prevPost or nextPost -%}
        <div>
            <h2>{{ tr('header_more_posts') }}</h2>
            {%- if prevPost -%}
                {{ postShow.morePosts(blog.getId(), prevPost, 'link_previous', 'blogs_post_bottom_previous') }}
            {%- endif -%}
            {%- if nextPost -%}
                {{ postShow.morePosts(blog.getId(), nextPost, 'link_next', 'blogs_post_bottom_next') }}
            {%- endif -%}
        </div>
    {%- endif -%}
{%- endblock -%}

{% macro morePosts(blogId, post, header, istatsLocation) %}
    <div class="grid-wrapper component">
        <div class="grid 1/3@bpw2 1/3@bpe">
            <h3 class="delta no-margin">{{ tr(header) }}</h3>
        </div>
        <div class="grid 2/3@bpw2 2/3@bpe">
            <h4 class="delta no-margin">
                <a class="istats--tracker" data-istats-link-location="{{ istatsLocation }}" itemprop="url"
                   href="{{ path('post', {blogId: blogId, guid: post.getGuid() }) }}">
                    <span itemprop="name">{{ post.getTitle() }}</span>
                </a>
            </h4>
            {%- if post.getPublishedDate() -%}
                <p class="text--subtle milli" itemprop="datePublished">
                    <time datetime="{{ post.getPublishedDate() | date('Y-m-d\TH:i:s') }}">{{ post.getPublishedDate() | date('l d F Y, H:i') }}</time>
                </p>
            {%- endif -%}
        </div>
    </div>
{% endmacro %}
