{% extends 'blogs_base.html.twig' %}

{% import _self as postShow %}

{% block title %}BBC {{ tr('page_title_blogs') }} - {{ blog.getName() }} - {{ post.getTitle() }}{% endblock %}

{% block social_type %}
    <meta property="og:type" content="article">
{% endblock %}

{% block card_tags %}
    <meta name="twitter:card" content="summary">

    {# BLOG #}
    {%- if blog.getSocial().getTwitterUsername() -%}
        <meta name="twitter:site" content="{{ blog.getSocial().getTwitterUsername() }}">
    {%- endif -%}
    {%- if blog.getSocial().getGooglePlusUrl() -%}
        <link rel="publisher" href="{{ blog.getSocial().getGooglePlusUrl() }}"/>
    {%- endif -%}

    {# POST #}
    <meta name="twitter:title" content="{{ post.getTitle() }}">
    <meta name="twitter:description" content="{{ page_metadata.getDescription() }}">
    <meta property="og:title" content="{{ post.getTitle() }}" />
    <meta property="article:published_time" content="{{ post.getDisplayDate() | date(constant('DATE_W3C')) }}" />

    {# AUTHOR SOCIAL #}
    {%- set author = post.getAuthor() -%}
    {%- if author is not empty -%}
        {%- if author.getSocial().getGooglePlusUrl() -%}
            <link rel="author" href="{{ author.getSocial().getGooglePlusUrl() }}"/>
        {%- endif -%}
        {%- if author.getSocial().getFacebookUrl() -%}
            <meta property="article:author" content="{{ author.getSocial().getFacebookUrl() }}" />
        {%- endif -%}
        {%- if author.getSocial().getTwitterUsername() -%}
            <meta name="twitter:creator" content="{{ author.getSocial().getTwitterUsername() }}">
        {%- endif -%}
    {%- endif -%}
{% endblock %}

{% block inline_head %}
    {%- if comments -%}
        {%- for script in comments.getHead() -%}
            {{ script|raw }}
        {%- endfor -%}
    {%- endif -%}

    {{ parent() }}
{% endblock %}

{%- block content -%}
    <div class="islet br-box-subtle component text--right">
        <ul class="list-unstyled list--piped">
            {#no spaces in here#}
            {%- if prevPost is not empty -%}
                <li class="br-keyline">{#--#}
                    <a data-bbc-container="{{ blog.getId() }}"
                        data-bbc-title="header-previous-post"
                        href="{{ path('post', {blogId: blog.getId(), guid: prevPost.getGuid() }) }}">
                        {{ tr('link_previous') }}{#--#}
                    </a>{#--#}
                </li>{#--#}
            {%- endif -%}
            <li class="br-keyline">{#--#}
                <a data-bbc-container="{{ blog.getId() }}"
                   data-bbc-title="header-home"
                   href="{{ path('blog', {blogId: blog.getId()}) }}">{{ tr('link_home') }}</a>{#--#}
            </li>{#--#}
            {%- if nextPost is not empty -%}
                <li class="br-keyline">{#--#}
                    <a data-bbc-container="{{ blog.getId() }}"
                       data-bbc-title="header-next-post"
                       href="{{ path('post', {blogId: blog.getId(), guid: nextPost.getGuid() }) }}">{#--#}
                        {{ tr('link_next') }}{#--#}
                    </a>{#--#}
                </li>{#--#}
            {%- endif -%}
        </ul>
    </div>

    <div data-section="post" class="component component--lined br-keyline">
        <article>
            <div class="component component--lined br-keyline">
                <h1>{{ post.getTitle() }}</h1>

                <p class="text--subtle milli"><time datetime="{{ post.getDisplayDate()|date(constant('DATE_ATOM')) }}">
                    {{ post.getDisplayDate()|local_date_intl('EEEE d MMMM Y, H:mm') }}
                </time></p>

                {% if post.getAuthor() %}
                    {{ ds('postAuthor', post.getAuthor(), blog.getId()) }}
                {% endif %}

                {% if post.getTags() %}
                    {{ ds('postTags', post.getTags(), blog.getId()) }}
                {% endif %}

                {% if comments %}
                    {{ ds('postSocialBar', post, blog.getId())}}
                {% endif %}
            </div>

            <div class="description">
                {{ ds('postFull', post.getContent()) }}
            </div>
        </article>

        {% if post.getTags() %}
            {{ ds('postTags', post.getTags(), blog.getId()) }}
        {% endif %}

        {% if comments %}
            {{ ds('postSocialBar', post, blog.getId())}}
        {% endif %}

        {%- if comments -%}
            {%- set commentsRoutingParameters = {blogId: blog.getId(), guid: post.getGuid()} -%}
            {%- if page_metadata.isPreview() -%}
                {%- set commentsRoutingParameters = commentsRoutingParameters|merge({'preview': 'true'}) -%}
            {%- endif -%}
            <div class="lazy-module" data-lazyload-inc="{{ url('comments_partial', commentsRoutingParameters) }}" data-lazyload-delay="true">
                <div class="blogs-loading-fallback" id="comments">
                    <a href="{{- url('comments_index', {blogId: blog.getId(), guid: post.getGuid()}) -}}"> {{- tr('link_comments_standalone') -}}</a>
                </div>
            </div>
        {%- endif -%}
    </div>

    {%- if prevPost or nextPost -%}
        <div data-section="more-posts">
            <h2>{{ tr('header_more_posts') }}</h2>
            {%- if prevPost -%}
                {{ postShow.morePosts(blog.getId(), prevPost, 'link_previous', 'blogs_post_bottom_previous') }}
            {%- endif -%}
            {%- if nextPost -%}
                {{ postShow.morePosts(blog.getId(), nextPost, 'link_next', 'blogs_post_bottom_next') }}
            {%- endif -%}
        </div>
    {%- endif -%}

    {# SCHEMA JSON #}
    {{- post_schema_data(post, url('post', {blogId: blog.getId(), guid: post.getGuid()})) -}}
{%- endblock -%}

{% macro morePosts(blogId, post, header, istatsLocation) %}
    <div class="grid-wrapper component">
        <div class="grid 1/3@bpw2 1/3@bpe">
            <h3 class="delta no-margin">{{ tr(header) }}</h3>
        </div>
        <div class="grid 2/3@bpw2 2/3@bpe">
            <h4 class="delta no-margin">
                <a href="{{ path('post', {blogId: blogId, guid: post.getGuid() }) }}" data-bbc-container="{{ blogId }}" data-bbc-title="more-posts">
                    {{ post.getTitle() }}
                </a>
            </h4>
            {%- if post.getDisplayDate() -%}
                <p class="text--subtle milli">
                    <time datetime="{{ post.getDisplayDate()|date(constant('DATE_ATOM')) }}">{{ post.getDisplayDate()|local_date_intl('EEEE d MMMM Y, H:mm') }}</time>
                </p>
            {%- endif -%}
        </div>
    </div>
{% endmacro %}
