{% extends 'blogs_base.html.twig' %}

{% block title %}BBC {{ tr('page_title_blogs') }} - {{ blog.getName() }} - {{ tr('page_title_tag_list') }}{% endblock %}

{% block social_tags %}
    {{ parent() }}
    <meta property="og:url" content="{{ url('tag_index', {blogId: blog.getId()}) }}" />
{% endblock %}

{%- block content -%}
    <div class="component">
        <h1>{{ tr('header_tag_list') }} ({{ tagResult.getTotal() }})</h1>
    </div>

    <div class="component">
        {%- if tagResult.getTotal() == 0 -%}
            <p>{{ tr('no_results') }}</p>
        {%- else -%}
            <ul class="list-unstyled list-lined">
                {%- for tag in tagResult.getDomainModels() -%}
                    <li class="br-keyline cf">
                        <a data-istats-link-location="blogs_global_tag" href="{{ path('tag_show', {blogId: blog.getId(), tagId: tag.getId()}) }}">
                            <h2 class="delta pull--left no-margin" tabindex="0">
                                {{- tag.getName() -}}
                            </h2>
                            {% if not tagPostCounts[tag.getId()] is empty %}
                                <p class="pull--right no-margin text--shout deemphasize br-page-text-ontext">
                                    {{- tr('post', tagPostCounts[tag.getId()]) -}}
                                </p>
                            {% endif %}
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
        {%- endif -%}
    </div>

    {% if paginatorPresenter %}
        {{ ds_presenter(paginatorPresenter) }}
    {% endif %}
{%- endblock -%}
