<div itemprop="blogPost">
    <h{{ post_summary.getOption('h_tag') }} class="{{ post_summary.getOption('h_class') }} no-margin">
        <a itemprop="url"
            {% if post_summary.isFeaturedPost() %}
                class="istats--tracker" data-istats-link-location="blogs_featured_post"
            {% endif %}
           href="{{ path('post', {blogId: post_summary.getBlogId(), guid: post_summary.getPost().getGuid() }) }}">
            <span itemprop="name">{{ post_summary.getPost.getTitle() }}</span>
        </a>
    </h{{ post_summary.getOption('h_tag') }}>
    <p class="milli no-margin text--subtle" itemprop="datePublished">
        <time datetime="{{ post_summary.getPost().getPublishedDate()|date(constant('DATE_ATOM')) }}">
            {{ post_summary.getPublishedDate() }}
        </time>
    </p>
    {% if post_summary.shouldShowAuthor() %}
        {{ ds('postAuthor', post_summary.getPost().getAuthor(), post_summary.getBlogId(), post_summary.getOption('author_options')) }}
    {% endif %}
    <div class="media islet--vertical">
        {% if post_summary.shouldShowImage() %}
            <a
                {% if post_summary.isFeaturedPost() %}
                    class="istats--tracker" data-istats-link-location="blogs_featured_post"
                {% endif %}
                href="{{ path('post', {blogId: post_summary.getBlogId(), guid: post_summary.getPost().getGuid() }) }}">
                <img class="one-third media__img" src="{{ post_summary.getPost().getImage().getUrl(192,108) }}"
                     alt="{{ post_summary.getPost.getTitle() }}"/>
            </a>
        {% endif %}
        <div class="media__body">
            {% if post_summary.getPost().getShortSynopsis() is not empty %}
                <p itemprop="description">{{ post_summary.getPost().getShortSynopsis() }}</p>
            {% endif %}
            <p>
                <a
                    {% if post_summary.isFeaturedPost() %}
                        class="istats--tracker" data-istats-link-location="blogs_featured_post"
                    {% endif %}
                    href="{{ path('post', {blogId: post_summary.getBlogId(), guid: post_summary.getPost().getGuid() }) }}">{{ tr('link_read_more') }}</a>
            </p>
        </div>
    </div>
    {{ ds('postSocialBar', post_summary.getPost(), post_summary.getBlogId()) }}
</div>
