<div>
    <h3 class="beta">
        <a data-bbc-title="post-title" data-bbc-container="{{ post_preview.getBlogId() }}"
            href="{{ path('post', {blogId: post_preview.getBlogId(), guid: post_preview.getPost().getGuid()}) }}">
            {{ post_preview.getPost().getTitle() }}
        </a>
    </h3>
    <p class="text--subtle milli no-margin">
        <time datetime="{{ post_preview.getPost().getDisplayDate()|date(constant('DATE_ATOM')) }}">
            {{ post_preview.getPost().getDisplayDate()|local_date_intl('eeee dd MMMM yyyy, HH:mm') }}
        </time>
    </p>
    {%- if post_preview.getPost().getAuthor() -%}
        {{- ds('postAuthor', post_preview.getPost().getAuthor(), post_preview.getBlogId()) -}}
    {%- endif -%}
    {% if post_preview.getPost().getTags() %}
        {{ ds('postTags', post_preview.getPost().getTags(), post_preview.getBlogId()) }}
    {% endif %}
    {% for presenter in post_preview.getContentPresenters() %}
        {{ ds_presenter(presenter) }}
    {% endfor %}
    {% if post_preview.shouldShowShowMoreLink() %}
        <p>
            <a data-bbc-title="{{  post_preview.isFeaturedPost() ? 'featured-' : ''}}post-read-more"
               data-bbc-container="{{ post_preview.getBlogId() }}" data-link="read-more"
               href="{{ path('post', {blogId: post_preview.getBlogId(), guid: post_preview.getPost().getGuid() }) }}">{{ tr('link_read_more') }}</a>
        </p>
    {% endif %}

    {% if post_preview.hasCommentsEnabled() %}
        {{ ds('postSocialBar', post_preview.getPost(), post_preview.getBlogId())}}
    {% endif %}
</div>
